# Byte-compiled / optimized / DLL files
__pycache__/

# Environment variables
.env


### Terraform ###

# Local .terraform directories
**/.terraform/*
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform lock files
.terraform.lock.hcl

### SSH Keys

*.pem